@model FinancialPortal.Models.Household

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>



<div class="well">
    @foreach (var item in Model.Users)
    {
        <h4>Users</h4>
        @item.Email
    }
</div>
<div>
    <form method="post" action="@Url.Action("SendInvitation", "Households")">
        <div>
            <p>Invite others to household</p>
            <input name="ToEmail" type="email" placeholder="user@mydomain.com" /> <input type="submit" onclick="SendInvitation" value="Send Invitation">
        </div>
    </form>
</div>
<div>
    <form method="post" action="@Url.Action("Leave", "Households")">
        <div>
            <p>Leave Household</p>
            <input type="submit" onclick="Leave" value="Leave this Household">
        </div>
    </form>
</div>



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Join", "Join", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
