@model FinancialPortal.Models.Household

@{
    ViewBag.Title = "Details";
}

<h2>Household</h2>



<div class="well">
    @foreach (var item in Model.Users)
    {
        <h4>Users</h4>
        @item.Email
    }
</div>

<form method="post" action="@Url.Action("SendInvitation", "Households")">
    <div>
        <p>Invite others to household</p>
        <input name="ToEmail" type="email" placeholder="user@mydomain.com" /> <input type="submit" onclick="SendInvitation" value="SendInvitation">
    </div>
</form>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Join", "Join", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
