@model IEnumerable<FinancialPortal.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Transactions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

        <table id="thistable" class="table">
            <thead>
                <tr>
                    <th>
                        Description
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Account
                    </th>
                    <th>
                        Ammount
                    </th>
                    <th>
                        ABS Ammount
                    </th>
                    <th>
                        Reconciled Ammount
                    </th>
                    <th>
                        ABS Reconciled Ammount
                    </th>
                    <th>
                        Date
                    </th>
                  
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                           @Html.ActionLink(item.Description, "Edit", "Transactions", new { accountId = item.AccountId, id = item.Id }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AbsAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReconciledAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AbsReconciledAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                </tr>

                }
            </tbody>
            

        </table>




@section scripts
{
<script>

        $('#thistable').dataTable();
   
</script>
}